@{
    ViewData["Title"] = "AdminPage";
}
<link rel="stylesheet" href="~/css/site.css" />

@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<div id="bg1">
    <img id="full-screen-width" src="https://franber.be/wp-content/uploads/2022/06/fondoAdmin2.png" alt="A happy dog looking out a door window">
    <span><h2>Pagina Amministrazione</h2></span>
</div><br><br>

<br>

<p class="fonttesto textwhite" style="font-size:15px"><strong>Informazioni struttura.</strong> Nella tabella sottostante vengono mostrate tutte le prenotazioni effettuate insieme al nominativo e alla suite scelta.</p>
<br><br>

@model List<PrenotazioneModel>;

<table class="table table-bordered">
   <tr style="color:white" class="table-dark fonttesto">
        <th><img width="20" src="https://franber.be/wp-content/uploads/2022/06/icon-user2.png"/><strong>Nome Utente</strong></th>
        <th><img width="20" src="https://franber.be/wp-content/uploads/2022/06/icon-suite2.png"/><strong>Suite prenotata</strong></th>
    </tr>
    @foreach (PrenotazioneModel p in Model)
    {
        <tr>
            <td>@p.User</td>
            <td>@p.Suite</td>

        </tr>
    }
</table>
<br><br>































@*<h1>@ViewData["Title"]</h1>

<br>
<br>
<img id="imgAdmin" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.act.edu%2Fimages%2Fact%2FBusiness-Administration%2FIMG_0823DIG.jpg&f=1&nofb=1" />
<br>
<br>

<h4>Lista prenotazioni</h4>
<p>Di seguito la lista di tutte le prenotazioni</p>


@model List<PrenotazioneModel>;

<table class="table table-striped table-bordered">
    <tr class="table-primary">
        <th> Utente</th>
        <th> Suite</th>
    </tr>
    @foreach (PrenotazioneModel p in Model)
    {
        <tr>
            <td>@p.User</td>
            <td>@p.Suite</td>

        </tr>
    }
</table>*@



