@{
    ViewData["Title"] = "Prenotazione";
}

@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@model List<SuiteModel>;

<h1>@ViewData["Title"]</h1>

<br />
<br />

<h3>Disponibilità Suite:</h3>

<table>
    <tr>
        @*<td> Id</td>*@
        <td>Nome Suite</td>
        <td>Disponibilità</td>
    </tr>
    @foreach (SuiteModel p in Model)
    {
        <tr>
            @*<td>@p.Id</td>*@
            <td>@p.Nome</td>
            <td>@p.Disponibilita</td>
        </tr>
    }
</table>

<br />
<br />
<br />



<br />
<br />
<br />

<div>
    <p>Scegli la tua Suite:</p>
    <input type="radio" id="suite1" name="camera" value="Silver">
    <label for="suite1">Silver</label><br>
    <input type="radio" id="suite2" name="camera" value="Gold">
    <label for="suite2">Gold</label><br>
</div>

<br />
<br />
<br />

<button onclick="prenota({ user: '@User.Identity.Name' })" class="btn  btn2 btn-primary">Scegli la Suite che vuoi prenotare</button>


<br />
<br />
<br />



<button onclick="SuiteSilver()" class="btn btn1 btn-primary" id="silver" value="silver">Conferma la prenotazione Silver</button>
<button onclick="SuiteGold()" class="btn btn1 btn-primary" id="gold" value="gold">Conferma la prenotazione Gold</button>
@*@if (SignInManager.IsSignedIn(User))
{
    @User.Identity.Name
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HiddenPage">Hidden Page</a>
    </li>
}*@